.product-container {
      height: 100%;
      transition: transform 0.2s, box-shadow 0.3s;
    }

    .product-container:hover {
      transform: translateY(-3px) scale(1.03);
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    }

    .card-img-top {
      height: 200px;
      object-fit: cover;
    }

    .swiper-slide {
      height: auto;
      display: flex;
    }